<div *ngIf="!(authService.user | async)">

  <div class="sign" *ngIf="is_login===true; else register">
    <h2>Вход</h2>
    <input type="text" [(ngModel)]="email" placeholder="Email">
    <input type="password" [(ngModel)]="password" placeholder="Password">
    <button (click)="login()" [disabled]="!email || !password" class="submit">Войти</button>
    <a routerLink="/register" class="have-acc">Еще нет аккаунта?</a>
  </div>

  <ng-template #register>
    <div class="sign">
      <h2>Регистрация</h2>
      <input type="text" [(ngModel)]="email" placeholder="Email">
      <input type="password" [(ngModel)]="password" placeholder="Password">
      <button (click)="signup()" [disabled]="!email || !password" class="submit">Регистрация</button>
      <a routerLink="/login" class="have-acc">Уже есть аккаунт?</a>
  </div>
  </ng-template>
</div>

