
<div class="product"> 
  <div class="container">
    <div class="product-top">
      <div class="product-one row">
          <div class="col-md-3 product-left" *ngFor="let card of cards">
            <div class="product-main simpleCart_shelfItem">
              <a routerLink="/watches/{{ card.id }}" class="mask"><img class="img-responsive zoom-img" [src]="card.image" alt="" /></a>
              <div class="product-bottom">
                <h3>{{ card.title }}</h3>
                <p>{{ card.description }}</p> 
                <h4><a class="item_add" (click)="addToBusket(card)"><i></i></a> <span class=" item_price">$ {{ card.price }}</span></h4>
              </div>
              <div class="srch">
                <span>-{{ card.discount }}%</span>
              </div>
          </div>
          </div>
        <div class="clearfix"></div>
      </div>					
    </div>
  </div>
</div>
